.photo-index-outer-wrapper{
  top: 80px;
  left: 270px;
  position: absolute;
}

.photos-header {
  color: rgb(178, 195, 236);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
  margin-left: 10px; 
}

.photo-upload-link {
  color: rgb(178, 195, 236);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin: 10px;
  margin-left: 20px;
  width: 104px;
  border: solid 1px rgb(178, 195, 236);
  padding: 5px;
}

.photo-index-inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
