.schedule-and-event *{
  /* border: .3px solid blue; */
  font-family: 'Montserrat', sans-serif;
  
}

.schedule-and-event{
  position: absolute;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  display: flex;
  
}

.schedule-pane-35{
  width: 35%;
  min-width: 250px;
  max-width: 400px;
}

.event-pane-65{
  width:65%;
}

.schedule-title{
  margin-left: 10px;
}

.schedule-item{
  height: 75px;
  font-size: 14px;
  background-color: rgba(221, 162, 246, .2);
  display: flex;
  border: 1px solid purple;
  align-items: center;
  margin-bottom: 5px;
}

.event {
  background-color: #857B93;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.event-details{
}

.event-detail {
  margin-left: 10px;
}