.pack-forms {
  position: absolute;
  top: 0px;
  left: 252px;
  width: calc(100% - 292px);
  height: calc(100vh - 37px);
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.pack-forms h3 {
  margin-top: 15px;
}

#wolf-crop {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 75vh;
  width: 25%;
  min-width: 300px;
  min-height: 600px;
}

.pack-create-form {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  height: 350px;
  width: 300px;
  margin: 50px;
  padding: 20px;
  margin-left: 30%;
  background-color: rgb(228, 231, 236);
}

.pack-create-form h3 {
  margin-left: 50px;
}

.pack-create-form label {
  font-size: 14px;
}

.pack-create-form input,
.pack-add-form input {
  height: 25px;
  padding: 3px 5px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 15px;
  border-radius: 2px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

#form-submit,
#form-add-submit {
  width: 75px;
  text-align: center;
  margin-top: 20px;
  margin-left: 215px;
  background-color: rgb(180, 195, 232);
  color: white;
}


#form-add-submit {
  height: 25px;
  margin-bottom: 0px;
  margin-top: 10px;
}


.pack-add-form {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  height: 200px;
  width: 300px;
  margin-left: 50px;
  padding: 20px;
  margin-left: 30%;
  background-color: rgb(228, 231, 236);
}

.pack-add-form h3 {
  margin-left: 70px;
}

.pack-show {
  position: absolute;
  top: 60px;
  left: 252px;
  padding: 10px;
}

.pack-image {
  position: absolute;
  left: 0px;
  top: 20px;
  width: calc(100vw - 250px);
  height: 400px;
  min-width: 900px;
  z-index: 0;
}

.pack-image img {
  height: 400px;
  object-fit: cover;
  z-index: 0;
}


.pack-title {
  z-index: 1;
  width: calc(100% - 275px);
  position: absolute;
  left: 275px;
  top: 150px;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  text-align: center;
  color: white;
}

.pack-info {
  margin-top: 425px;
  font-family: 'Montserrat', sans-serif;

}