.pack-forms,
.pack-edit {
  position: absolute;
  top: 0px;
  left: 252px;
  width: calc(100% - 292px);
  height: calc(100vh - 37px);
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(141deg, #fff 25%, #eee 40%, #fff 55%);
}

.pack-edit {
  top: 75px;
  height: calc(100vh - 115px);
}

.pack-edit .fa-chevron-left {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 22px;
  color: #EEB597;
  margin: 20px 25px;
}

.pack-forms h3 {
  margin-top: 15px;
}

#edit-title {
  margin-left: 75px;
}

.pack-forms i {
  /* color: rgb(238, 181, 151); */
  color: rgb(29, 29, 29);
}


#wolf-crop {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 600px;
}

.pack-create-form {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  height: 350px;
  width: 300px;
  margin: 50px;
  padding: 20px;
  margin-left: 30%;
  background-color: rgb(228, 231, 236);
}

.pack-create-form h3 {
  margin-left: 30px;
}

.pack-create-form label {
  font-size: 14px;
}

.pack-create-form input,
.pack-add-form input {
  height: 25px;
  padding: 3px 5px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 15px;
  border-radius: 2px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

#form-submit,
#form-add-submit {
  width: 75px;
  text-align: center;
  margin-top: 20px;
  margin-left: 215px;
  background-color: rgb(180, 195, 232);
  color: white;
}


#form-add-submit {
  height: 25px;
  margin-bottom: 0px;
  margin-top: 10px;
}


.pack-add-form {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  height: 200px;
  width: 300px;
  margin-left: 50px;
  padding: 20px;
  margin-left: 30%;
  background-color: rgb(228, 231, 236);
}

.pack-add-form h3 {
  margin-left: 70px;
}

.pack-show {
  position: absolute;
  top: 55px;
  left: 252px;
  padding: 10px;
}

.pack-image {
  position: absolute;
  left: 0px;
  top: 20px;
  width: calc(100vw - 250px);
  height: 400px;
  min-width: 900px;
  z-index: 0;
}

.pack-image img {
  height: 400px;
  object-fit: cover;
  z-index: 0;
}


.pack-title {
  z-index: 1;
  width: calc(100% - 275px);
  position: absolute;
  left: 275px;
  top: 200px;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px grey;
}

.pack-countdown {
  z-index: 1;
  width: calc(100% - 275px);
  height: 100px;
  position: absolute;
  left: 275px;
  top: 300px;
  font-family: 'Montserrat', sans-serif;
  font-size: 46px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  text-shadow: 1px 1px 2px grey;

  /* -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0) */
}

/* .pack-countdown div {
  overflow: hidden;
  white-space: nowrap;
}

.cd-num {
  animation: showup;
}

.cd-words {
  animation: reveal;
}

.cd-words span {
  margin-left: -355px;
  animation: slidein;
}

@keyframes showup {
  0% {opacity: 0;}
  25% {opacity: 0.25;}
  50% {opacity: 0.5;}
  75% {opacity: 0.75;}
  100% {opacity: 1;}
}

@keyframes slidein {
  0% {margin-left: -500px;}
  20% {margin-left: -500px;}
  35% {margin-left: 0px;}
  100% {margin-left: 0px;}
}

@keyframes reveal {
  0% {opacity: 0; width: 0px;}
  20% {opacity: 1; width: 0px;}
  30% {width: 355px;}
  80% {opacity: 1;}
  80% {opacity: 0; width: 355px;}
  
} */
.pack-info {
  margin-top: 425px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  width: calc(100vw - 275px);
  min-width: 900px;
  height: calc(100vh - 515px);
}

.pack-info-about,
.pack-info-add,
.pack-info-members {
  width: 32%;
  margin-right: 5px;
  padding: 10px;
  min-height: 270px;
}

.pack-info-about,
.pack-info-add {
  border-right: 1px solid lightgray;
}

.pack-info-about .fa-edit {
  padding-left: 65px;
  color: gray;
}

.pack-info-members {
  height: 100%;
  overflow: scroll;
}

.pack-info-about span,
.pack-info-add span,
.pack-info-members span {
  text-align: center;
  font-size: 19px;
  color: rgb(78, 103, 161);
  font-weight: 900;
}

.pack-info-about ul,
.pack-info-add ul,
.pack-info-members ul {
  margin-top: 25px;
  font-size: 16px;
}

.pack-info-about li,
.pack-info-add li,
.pack-info-members li {
  padding: 10px 5px;
}

.how-to-add {
  font-size: 12px;
  padding: 10px 5px;
  margin-top: 20%;
  font-style: italic;
  color: rgb(180, 195, 232);
  text-align: center;
}

.edit-buttons {
  position: absolute;
  top: 550px;
  left: 35%;

}

.edit-buttons button {
  padding: 5px 7px;
  text-align: center;
  background-color: rgba(105, 117, 172, 0.8);
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px;
  font-size: 12px;
  margin-left: 10px;
}

#disabled {
  background-color: rgba(146, 160, 221, 0.8);
  cursor: not-allowed;
}
